body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: cornsilk;
    font-family: Helvetica, Arial, sans-serif;
}

label {
    font-weight: 600;
}

.swatch {
    border: 1px solid lightgray;
    padding: 20px 20px 40px 20px;
    background-color: white;
    margin-bottom: 20px;
}

#swatch {
    width: 200px;
    height: 200px;
}

#hue {
    width: 40px;
    height: 40px;
}

#h {
    margin-bottom: 20px;
}

.hsl_form--guessing .answer {
    display: none;
}

.hsl_form--answer .input-row {
    display: none;
}

.form_row {
    margin-bottom: 12px;
    height: 50px;
}

.form_row label {
    display: block;
}